<div class="courseInfo view">
    <div class="container">
        <div class="row courseInfoContainer">
            <h3>Course General Information</h3>
            <div class="row courseContainer">
                <div class="span3 course" data-ng-repeat="course in courses">
                    <div class="courseHeader">{{course.location}} + ' ' + {{course.status}}
                    </div>
                    <div class="courseBody">{{course.location}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
