.alert_login
{
    margin-top: 1em;
}

.button_actions_course
{
    float: right;
}

.button_download
{
    float: right;
    margin-top: 0.5em;
}


img.course-img
{
    display:inline;
    max-width: 2em;
}

img.logo-img-program
{
    display:inline;
}

select.course_add
{
    width: 5em;
}

.program_section
{
    width:95em;
}
