{% load staticfiles %}

<div class="span3 course" data-ng-repeat="course in courses">
    <div class="col-md-12 text-center">
        <div class="thumbnail">
            <img ng-if="course_type == 'Sauveteurs'" class="img-responsive" src="{% static 'img/car-icon.png' %}" alt="">
            <img ng-if="course_type == 'Samaritains'" class="img-responsive" src="{% static 'img/medicine-box-icon.png' %}" alt="">
            <img ng-if="course_type == 'BLS-AED'" class="img-responsive" src="{% static 'img/heart-beat-icon.png' %}" alt="">
            <img ng-if="course_type == 'UPE'" class="img-responsive" src="{% static 'img/medical-cap-icon.png' %}" alt="">
            <div class="caption">
                <h3>Cours {$ course_type $}<br>
                    <small ng-if="course_type == 'Sauveteurs'">Premiers secours pour futurs conducteurs</small>
                    <small ng-if="course_type == 'Samaritains'">Cours plus approfondi des premiers secours</small>
                    <small ng-if="course_type == 'BLS-AED'">Basic Life Support/Defibrillateur semi-automatique</small>
                    <small ng-if="course_type == 'UPE'">Urgence Petite Enfance</small>
                </h3>
                <p ng-if="course_type == 'Sauveteurs'">Ce cours est requis pour le permis de conduire.</p>
                <p ng-if="course_type == 'Samaritains'">Ce cours est requis aux guides de montagnes, moniteurs de ski, maîtres nageurs, etc.</p>
                <p ng-if="course_type == 'BLS-AED'">Ce cours est axé sur l'utilisation des premiers secours
                        et de l'utilisation du défibrillateur.</p>
                <p ng-if="course_type == 'UPE'">Enseignement des techniques de premiers secours en cas d'Urgence
                        pour la Petite Enfance.</p>
                <p><i>Prix du cours (à régler par versement bancaire au minimum 2 jours avant le cours!):</i><br>
                <b>150.-</b><br>

				<ul class="list-group">
				  <li class="list-group-item">
					<i class="fas fa-university"></i>
                        PostFinance SA - 1920 Martigny
				  </li>
				  <li class="list-group-item">
					<i class="fas fa-info-circle"></i>
                        Titulaire : Section des Samaritains de Martigny<br>
                        Titulaire addresse : Avenue du Grand-Saint-Bernard 40 A - 1920 Martigny<br>
                        IBAN : CH88 0900 0000 1900 9896 8<br>
					<i class="fas fa-edit"></i>
						Mention : {$ course_type $} NOM PRÉNOM {$ course.additional_information.dates $}
				  </li>
				</ul>

                </p>
                <p><i>Dates du cours:</i><br>
                <b>{$ course.additional_information.dates $}</b></p>
                <p><i>Horaires du cours:</i><br>
                <b>{$ course.additional_information.time $}</b></p>
                <p><i>Lieu du cours</i><br>
                <b>{$ course.additional_information.location $}</b></p>
                <p ng-if="course.inscription_counter < course.max_inscription_counter"><i>Nombre de places restantes</i><br>
                <b>{$ course.max_inscription_counter - course.inscription_counter $}/{$ course.max_inscription_counter $}</b></p>

                <a ng-if="course.inscription_counter < course.max_inscription_counter" id="sauveteurs" href="{{ URL_PREFIX }}/register_cours/?coursetype={$ course_type $}&courseid={$ course.id $}" class="btn btn-primary btn-course">Inscription</a>
                <p ng-if="course.inscription_counter >= course.max_inscription_counter"><strong><font size="3" color="red">Désolé le cours est complet</font></strong></p>
            </div>
        </div>
    </div>
</div>
