{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" data-ng-app="samawebApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Section des Samaritains - Martigny</title>

    <!-- Favicon for the website -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>


    <!-- Custom Styles -->
    <link href="{% static 'css/course_style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/section_style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/registration_style.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <div Class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <!-- <a class="navbar-brand" href="index.html">Samaritains de Martigny</a>-->
               <a class="navbar-brand" href="{% url 'index' %}">Samaritains de Martigny</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'section' %}">Section</a>
                    </li>
                    <li>
                        <a href="{% url 'courses' %}">Cours</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li>
                        <a href="{% url 'membres' %}">Membres</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_login' %}">Admin</a>
                    </li>

                    <!--
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- jQuery Validate -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootbox to handle modals and dialog boxes -->
    <script src="{% static 'js/bootbox.min.js' %}"></script>

    <!-- AngularJS -->
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-ui-router.min.js' %}"></script>

    <!-- Custom libs -->
    <script src="{% static 'js/base_64_encoder_decoder.js' %}"></script>

    <!-- Required libs for pdfmake -->
    <script src="{% static 'js/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/vfs_fonts.js' %}"></script>

    <!-- App libs -->
    <script src="{% static 'samaweb/app/app.js' %}"></script>
    <script src="{% static 'samaweb/app/app.config.js' %}"></script>
    <script src="{% static 'samaweb/app/controllers/sectionController.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'samaweb/app/controllers/courseController.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'samaweb/app/controllers/authController.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'samaweb/app/services/authStateService.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'samaweb/app/factories/sectionFactory.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'samaweb/app/factories/courseFactory.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'samaweb/app/factories/authFactory.js' %}" type="text/javascript" charset="utf-8"></script>

    <div id="outerdiv" ng-controller="courseController" ng-init="authState.user='{{user.username}}'">
    {% block content %}{% endblock %}
    </div>
</body>

</html>
