{% extends "samacore/base.html" %}

{% load staticfiles %}

{% load samacore_extras %}

{% block title %}FAQ{% endblock %}

{% block section %}faq{% endblock %}

{% block content %}

    <!-- Bootstrap Datepicker CSS -->
    <link href="{% static 'css/bootstrap-datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker3.standalone.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.standalone.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker3.standalone.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.standalone.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/course_style.css' %}" rel="stylesheet">

    <!-- Bootstrap Datepicker libs -->
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/locales/bootstrap-datepicker.fr-CH.min.js' %}"></script>

    <!-- App libs -->
    <script src="{% static 'samaweb/app/directives/courseView.js' %}" type="text/javascript" charset="utf-8"></script>

    <!-- Page Content -->
    <div class="container" ng-init="initCourse('{{ coursetype }}', '{% url 'course_list' %}')">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row" ng-show="authState.user">
            <div class="col-lg-12">
            <div class="alert alert-danger alert_login" role="alert">
                <b>Avec de grands pouvoirs, viennent de grande responsabilité!</b> N'oubliez pas que <i>vous êtes connecté</i> en tant que <b>{$ authState.user $}</b></br>
            Cela signifie que vous souhaitez faire des modifications au contenu du site. Si ce n'est pas le cas, vous êtes priés de vous <i>déconnecter </i> depuis le menu <b>Admin</b>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a id="btn_course_save" class="btn btn-success button_actions_course" ng-if="authState.user" buttonsavecourse>
                    <i class="fa fa-upload fa-2x"></i> Sauver
                </a>
                <h1 class="page-header">{{ coursetype }}
                <img ng-if="course_type == 'Sauveteurs'" class="img-responsive course-img" src="{% static 'img/car-icon.png' %}" alt="">
                <img ng-if="course_type == 'Samaritains'" class="img-responsive course-img" src="{% static 'img/medicine-box-icon.png' %}" alt="">
                <img ng-if="course_type == 'BLS-AED'" class="img-responsive course-img" src="{% static 'img/heart-beat-icon.png' %}" alt="">
                <img ng-if="course_type == 'UPE'" class="img-responsive course-img" src="{% static 'img/medical-cap-icon.png' %}" alt="">
            </div>
        </div>

        <!-- /.row -->
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Dates de cours</h3>
          </div>
          <div class="panel-body">
            <!--<a id="btn_add_new_date" class="btn btn-warning button_new_course_date" ng-if="authState.user">
                <i class="fa fa-plus-circle fa-2x"></i> Ajouter une nouvelle date de cours
            </a>-->
            <i>Cliquer sur les dates du cours</i>
            <div class="input-group date">
                <input ng-model="new_course_dates" type="text" class="form-control datepicker_course" >
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
            </div>
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Configuration du cours</h3>
          </div>
          <div class="panel-body">
            <i>Configurer les divers paramètres du cours</i>
                <br><br>
                Nombre maximum de participants:
                {% mkrange 1 17 1 as num_participant %}
                <select class="form-control course_add" ng-model="new_course_maximum_participants">
                  {% for i in num_participant %}
                    {% if i == 12 %}
                        <option selected>{{i}}</option>
                        <!-- to be used in case of conditional course maximum>
                        <option ng-if="course_type == 'Sauveteurs'" selected>{{i}}</option>
                        <option ng-if="course_type != 'Sauveteurs'">{{i}}</option>
                        <-->
                    {% else %}
                    <option>{{i}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
          </div>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Lieu du cours</h3>
          </div>
          <div class="panel-body">
            <i>Spécifier le lieu du cours</i>
            <div class="input-group">
                <input ng-model="new_course_address" type="text" class="form-control location_course">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; SamaMartigny 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <script type='text/javascript'>
        $(document).ready(function() {
            $('.collapse').on('show.bs.collapse', function() {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
            });
            $('.collapse').on('hide.bs.collapse', function() {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
            });
        });
    </script>
    <script type='text/javascript'>
    jQuery(document).ready(function() {
        //var url = "{% url 'course_list' %}";
        //$.ajax({
        //    type: "GET",
        //    url: url,
        //    data: {
        //        coursetype: "{{ coursetype }}",
        //    },
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",

        //    success: function(data) {
        //        console.log(data);
        //    },

        //    error: function(jqXHR, textStatus, errorThrown) {
        //        alert('Error: ' + errorThrown);
        //    }
        //});
    //$("#btn_add_new_date").click(function(){
    //    console.log("clicked");
    //    //$('#space_for_dates').append('<br>a datepicker <input class="datepicker_recurring_start"/>');
    //   $('#space_for_dates').append('<div class="input-group date"><input type="text" class="form-control datepicker_recurring_start"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span></div>');

    //});

    $('body').on('focus',".datepicker_course", function(){
        $(this).datepicker({
            format: "dd/mm/yyyy",
            language: "fr-CH",
            multidate: true,
            multidateSeparator: " "
        });
    });

    });
    </script>
{% endblock %}
