{% extends "samacore/base.html" %}

{% block title %}FAQ{% endblock %}

{% block section %}faq{% endblock %}

{% block content %}
    <!-- Page Content -->

  <div class="container">
    <div class="well" id="faq-well">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <h1>Questions fréquemment posées <br>(FAQ <i>Frequently Asked Questions</i>)</h1>
            <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
                <li class="active"><a href="#faq-cat-1" data-toggle="tab">Général</a></li>
                <li><a href="#faq-cat-2" data-toggle="tab">Cours</a></li>
                <li><a href="#faq-cat-3" data-toggle="tab">Section</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
                <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                    <h4 class="panel-title">
                                        Vous avez une manifestation particulière et avez-besoin de notre aide?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                <p>La section des <b>Samaritains de Martigny</b> peut répondre à vos attentes. Il vous faut pour cela contacter notre secrétaire:<br><b>Mme. Morgane NEVEU tout les jours de 12h à 20h au numéro suivant: 0797201340</b>.</p><p>Une estimation du nombre de samaritains nécessaires pour assurer le bon déroulement de votre manifestation se fera par nos soins, après une analyse détaillée de votre demande.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                    <h4 class="panel-title">
                                        Qui dois-je contacter si j’ai des questions particulières?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Vous pouvez nous contacter par email à: <a href="maito:info@samamartigny.ch">info@samamartigny.ch</a></p>
                                    <p>ou notre secrétaire:<br><b>Mme. Morgane NEVEU tout les jours de 12h à 20h au numéro suivant: 0797201340</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                    <h4 class="panel-title">
                                        Qui dois-je contacter si j’ai besoin de louer du matériel (chaises roulantes, potences, etc.)?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Vous pouvez contacter nos responsable d'emprunts de matériels, à savoir, merci d'essayer dans l'ordre</p>
                                    <p><b>Mme. Marietta Althaus au numéro suivant: 0277233267</b></p>
                                    <p><b>Mme. Brigitte Berguerand au numéro suivant: 0277228529</b></p>
                                    <p> et si vous n'avez pas de réponse, essayé de contacter en dernier recours:</p>
                                    <p><b>Mme. Marietta Althaus au numéro privé suivant: 0787882308</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="faq-cat-2">
                    <div class="panel-group" id="accordion-cat-2">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                    <h4 class="panel-title">
                                        Besoin de suivre un cours sauveteur pour le permis de conduire?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> Rendez-vous sur l'onglet <b>"Cours"</b>et enregistrez-vous pour un cours <b>Sauveteur</b>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                    <h4 class="panel-title">
                                        Besoin de suivre un cours plus avancé du type cours samaritain pour votre profession?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                <p> Rendez-vous sur l'onglet <b>"Cours"</b>et enregistrez-vous pour le cours <b>Samaritain</b>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                    <h4 class="panel-title">
                                        Envie de suivre un cours par intérêt personnel?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                <p> Rendez-vous sur l'onglet <b>"Cours"</b>et enregistrez-vous pour le cours de votre choix.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                    <h4 class="panel-title">
                                        La section de Samaritains dispense-t-elle des cours personnalisés pour les entreprises?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                <p> Oui, bien sûr! N'hésitez pas à prendre contact avec nous afin d'établir le cours le plus approprié. Notre secrétaire: <b>Mme. Morgane NEVEU disponible tout les jours de 12h à 20h au numéro suivant: 0797201340</b> pourra vous donner de plus amples renseignements. Notre expérience dans les cours de premiers de secours pour votre entreprise pourra également vous donner la possibilité d'avoir un certificat de conformité attestant que vous avez suivi un cours de premiers secours à la date indiquée.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="faq-cat-3">
                    <div class="panel-group" id="accordion-cat-3">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1">
                                    <h4 class="panel-title">
                                        Est-ce que je dois préalablement être inscrit pour pouvoir être membre de la Section des Samaritains?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-3-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Non. Vous pouvez venir assister à un cours donné dans le cadre de la section des Samaritains de Martigny chaque deuxième mardi du mois. Faites votre opinion et rejoignez-nous dans la section. Etre membre de la section ne vous oblige à rien, si ce n'est apprendre et vous formez pour devenir meilleur dans le cas où vous aurez à porter secours.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-2">
                                    <h4 class="panel-title">
                                        Combien de cours de section donnez-vous chaque année?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-3-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Nous donnons un cours de section par mois, en général le deuxième mardi de chaque mois. Ces cours sont orientés sur la théorie et la pratique des gestes de premiers secours. La section ne dispense pas de cours durant la période estivale de juillet/août.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          </div>
        </div>
    </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; SamaMartigny 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <script type='text/javascript'>
        $(document).ready(function() {
            $('.collapse').on('show.bs.collapse', function() {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
            });
            $('.collapse').on('hide.bs.collapse', function() {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
            });
        });
    </script>

{% endblock %}
