{% extends "samacore/base.html" %}

{% block title %}FAQ{% endblock %}

{% block section %}faq{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="well">
            <div class="row">

<h1>Questions fréquemment posées <br>(FAQ <i>Frequently Asked Questions</i>)</h1>

<h2>A. Général</h2>

<h3>Vous avez une manifestation particulière et avez-besoin de notre aide?</h3>

<p>La section des <b>Samaritains de Martigny</b> peut répondre à vos attentes.
Il vous faut pour cela remplir le document suivant : <b>document</b> et nous le renvoyer.</p>

<p>Une estimation du nombre de samaritains nécessaires pour assurer le bon déroulement
de votre manifestation se fera par nos soins, après une analyse détaillée de votre demande.</p>

<h3>Qui dois-je contacter si j’ai des questions particulières?</h3>
<p>Email: <a href="maito:info@samamartigny.ch">info@samamartigny.ch</a></p>

<h2>B. Cours</h2>

<h3>Besoin de suivre un cours sauveteur pour le permis de conduire?</h3>

<p> Rendez-vous sur l'onglet <b>"Cours"</b>et enregistrez-vous pour un cours <b>Sauveteur</b>.</p>

<h3>Besoin de suivre un cours plus avancé du type cours samaritain pour votre profession?</h3>

<p> Rendez-vous sur l'onglet <b>"Cours"</b>et enregistrez-vous pour le cours <b>Samaritain</b>.</p>

<h3>Envie de suivre un cours par intérêt personnel?</h3>

<p> Rendez-vous sur l'onglet <b>"Cours"</b>et enregistrez-vous pour le cours de votre choix.</p>

<h3>La section de Samaritains dispense-t-elle des cours personnalisés pour les entreprises?</h3>

<p> Oui, bien sûr! N'hésitez pas à prendre contact avec nous afin d'établir le cours le plus approprié.
Notre expérience dans les cours de premiers de secours pour votre entreprise pourra également vous 
donner la possibilité d'avoir un certificat de conformité attestant que vous avez suivi un cours de premiers
secours à la date indiquée.</p>

<h2>C. Participation et membre de la section</h2>

<h3>Est-ce que je dois préalablement être inscrit pour pouvoir être membre de la Section des Samaritains?</h3>

<p>Non. Vous pouvez venir assister à un cours donné dans le cadre de la section des Samaritains de Martigny
chaque deuxième mardi du mois. Faites votre opinion et rejoignez-nous dans la section. Etre membre de la
section ne vous oblige à rien, si ce n'est apprendre et vous formez pour devenir meilleur dans le cas où
vous aurez à porter secours.</p>

<h3>Combien de cours de section donnez-vous chaque année?</h3>

<p>Nous donnons un cours de section par mois, en général le deuxième mardi de chaque mois. Ces cours sont orientés
sur la théorie et la pratique des gestes de premiers secours. La section ne dispense pas de cours durant la 
période estivale de juillet/août.</p>


            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; SamaMartigny 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}
